.sidebar{
  display: flex;
  flex-direction: column;
}
.compose_btn{
  padding: 10px 20px !important;
  border-radius: 40px !important;
  box-shadow: 2px 2px 3px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  max-width: 150px;
}
.logoutBtn{
  width: 120px;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  color: black;
  background-color: gray;
  
}
.sent_btn{
   display: flex;
   background-color: red;
}
.logout_Btn{
  font-size: 18px;
  color: black;
}
.logoutBtn:hover{
   background-color: rgb(245, 65, 65);
}